<div class="chat_top">
  <div class="chat_vew">
    hogefuga
  </div>
  <div class="chat_end">
    <%=link_to 'チャットを終了する' , '#'%>
  </div>
</div>

<div class="chat_main">
  <div class="chat_date">
    <div class="chat_name">
      Tom
    </div>
    <div class="chat_day">
      2021/01/02
    </div>
  </div>
  <div class="chat_messages">
    <div class="chat_message">
      おはよう
    </div>
  </div>
   <div class="chat_date">
    <div class="chat_name">
      Tom
    </div>
    <div class="chat_day">
      2021/01/02
    </div>
  </div>
  <div class="chat_messages">
    <div class="chat_message">
      りんご
    </div>
  </div>
</div>

<div class="chat_bottom">
  <div class="form_input">
    <input class="message_form" placeholder= "type a message">
    <label class="image_form">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input class="form_submit" type=submit value= "送信">
</div>