<div class="chat_main">
  <div class="chat_date">
    <div class="chat_name">
      <!-- 投稿したユーザー名情報を出力する -->
      <%= message.user.name %>
    </div>
    <div class="chat_day">
      <!-- 投稿した時刻を出力する -->
      <%= message.created_at %>
    </div>
  </div>
  <div class="chat_messages">
    <div class="chat_message">
      <!-- 投稿したメッセージ内容を記述する -->
      <%= message.message %>
    </div>
  </div>
</div>