<div class="side_main">
  <div class="user_name">
    <%=link_to current_user.name, edit_user_path(current_user)%>
  </div>
  <div class="create_chat">
    <%=link_to 'チャットを作成する', '#'%>
  </div>
</div>

<div class="side_bottom">
  <div class="side_chat_index">
    <div class="rooms">
      <div class="room">
        <%=link_to 'ルーム１', '#'%>
      </div>
    </div>
    <div>
      <div class="room">
        <%=link_to 'ルーム２' , '#'%>
      </div>
    </div>
  </div> 
</div>
